@model AspNetMVCproject03.Models.UserChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Change Password</h5>
<br />  
<br />  

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post,
          new { @autocomplete = "off" }))
        {
            <label>Type your actual password</label>
            @Html.PasswordFor(model => model.ActualPassWord, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.ActualPassWord)
            </span>
            <br />

            <label>Type your new password</label>
            @Html.PasswordFor(model => model.NewPassWord, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.NewPassWord)
            </span>
            <br />

            <label>Confirm your new password</label>
            @Html.PasswordFor(model => model.NewPassWordConfirm, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.NewPassWordConfirm)
            </span>
            <br />
            <input type="submit" name="Change password" value="Change password" class="btn btn-success" />
        }
    </div>
</div>
